{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}
{% extends 'base.html' %}
{% block content %}
  <body>
    {% with messages = get_flashed_messages(with_categories=true)%} {% if
    messages %}
    <div>
      {% for category, message in messages %}
      <p class="alert alert-{{ category }}">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <form action="" method="POST">
      <div class="form-group">
        <label for="">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id=""
          aria-describedby="emailHelpId"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label for="">Subject</label>
        <input
          type="text"
          class="form-control"
          name="subject"
          id=""
          aria-describedby="helpId"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label for="">Message</label>
        <textarea class="form-control" name="message" id="" rows="3"></textarea>
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
{% endblock %}
