<h1>ALL DATA</h1>
<ul class="posts">
  {{#each data}}
    <li>
      <span>Author :{{author}}</span>
      <span>Title :{{title}}</span>
      <span>content :{{content}}</span>
    </li>
  {{/each}}

  <button id="button">Click me</button>

</ul>
  <script src="/javascripts/forum.js"></script>