<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <h2>Logo</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/add_products">Add Products</a></li>
        <li><a href="/about_us">About</a></li>
        <li><a href="/contact_us">Contact Us</a></li>
      </ul>
    </nav>
    <main style="padding:1em;">{{{body}}}</main>
  </body>
</html>